$primary-body-background-color: #e5e5e5;
$secondary-body-background-color: #ffffff;

$primary-heading-color: #0656b1;
$primary-border-color: #c5c5c5;

// general
$error-text-color: #dc3545;
$error-border-color: $error-text-color;

// top nav
$panel-heading-text-color: #5d5d5d;
$panel-heading-background-color: $secondary-body-background-color;
$panel-body-color: #f2f2f270;
$panel-body-text-color: #717272;
$panel-border-color: $primary-border-color;
$panel-icon-text-color: #7b7b7b;

// Date-Picker
$date-picker-highlight-color: #5e9acf;

// Button
$button-tertiary-color: #0857b2; // #065681

// Label
$label-link-color: #0656b1; // #065681

// Input
$input-background-color: $secondary-body-background-color;
$input-placeholder-color: #c5c5c5;
$input-border-color: #d9d9d9;
$input-text-color: #717272;
